<!DOCTYPE HTML>
<html>
<head>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One|UnifrakturCook:700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .tops {
            margin: 0 0;
            height: 5%;
            background-color: green;
        }
    </style>
</head>
<body>
<div class="col-sm-2" style="background-color: red; height: 1000px;">
    <div class="tops">
        <h5>TABLE HERE</h5>
    </div>
</div>
<div class="col-sm-2" style="background-color: blue; height: 1000px;">
    <div class="tops">
        <h5>SWAP HERE</h5>
    </div>
</div>
<div class="col-sm-2" style="background-color: red; height: 1000px;">
    <div class="tops">
        <h5>DROP HERE</h5>
    </div>
</div>
<div class="col-sm-2" style="background-color: blue; height: 1000px;">
    <div class="tops">
        <h5>PUSH HERE</h5>
    </div>
</div>
<div class="col-sm-2" style="background-color: red; height: 1000px;">
    <div class="tops">
        <h5>SAVE HERE</h5>
    </div>
</div>
<div class="col-sm-2" style="background-color: blue; height: 1000px;">
    <div class="tops">
        <h5>EXPORT HERE</h5>
    </div>
</div>
</body>
</html>